# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
ENV/
env/
.venv/
*.env

# Django stuff:
db.sqlite3
*.sqlite3
media/
static/

# PyCharm or JetBrains IDE
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage reports
.coverage
*.cover

# Docker files
Dockerfile
docker-compose.yml

# .env files
.env

# Jupyter Notebooks
.ipynb_checkpoints
